h1{
  font-family: 'Caveat', cursive;
<<<<<<< HEAD:css/style.css
  font-size: 70px
=======
  font-size: 150px;
>>>>>>> d16fd43cf8fe51f0ffafd8ca0445871eb75e77d1:style.css
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
h2{
  font-family: 'Caveat', cursive;
  color: #424242;
<<<<<<< HEAD:css/style.css
  font-size: 30px
=======
>>>>>>> d16fd43cf8fe51f0ffafd8ca0445871eb75e77d1:style.css
  text-align: justify;
  padding: 10px 20px 10px 20px;
}
h3{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
footer{
  font-family: 'Dancing Script', cursive;
  color: #424242;
}
