h1{
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 60px;
}
h2{
  font-family: 'Caveat', cursive;
  font-size: 40px;
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3{
  font-family: 'Abel', sans-serif;
  color: #424242;
  font-size: 20px;
  text-align:justify;
  padding-left: 100px;
  padding-right: 100px;
}
footer{
  font-family: 'Dancing Script', cursive;
  color: gray;
  padding-left: 100px;
}
