h1{
  font-family: 'Caveat', cursive;
  font-size: 150px
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
h2{
  font-family: 'Caveat', cursive;
  color: #424242;
  font-size: 50px
  text-align: justify;
  padding: 10px 20px 10px 20px;
}
h3{
  font-family: 'Abel', sans-serif;
  font-size: 80px;
}
footer{
  font-family: 'Dancing Script', cursive;
  color: #424242;
}
