h1{
  font-family: 'Caveat', cursive;
  font-size: 60px
  text-align: center;
  padding: 10px 20px 10px 20px;
}
h2{
  font-family: 'Caveat', cursive;
  color: #242424;
  text-align: center;
  padding: 10px 20px 10px 0px;
}
h3{
  font-family: 'Abel', sans-serif;
  font-size: 30px;
}
footer{
  font-family: 'Dancing Script', cursive;
  color: #424242;
}
